.header_container {
  margin-top: 1em;
  padding: 0 85px ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.info_container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  color: #076DDE;
}
