progress {
    width: 20%;
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;

    position: relative;
    left: 10%;
    bottom: 30pt;
}

progress.especial {
    width: 20%;
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;

    position: relative;
    left: -4%;
    bottom: 30pt;
}

table{
    border: none;
    margin-left: auto;
    margin-right: auto;
}

/*Hide the input*/
.js .uploadbutton {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.uploadbutton + label {
    font-size: 12px;
    /* 20px */
    font-family: Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    overflow: hidden;
    padding: 2px 30px;
    border-radius: 6px;
    /* 10px 20px */
}

.no-js .uploadbutton + label {
    display: none;
}

.uploadbutton:focus + label,
.uploadbutton.has-focus + label {
    outline: 1px dotted #000;
}

.uploadbutton + label * {
    pointer-events: none;
}

.uploadbutton + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;

    /* 4px */
    margin-right: 3px;
    /* 4px */
}


.uploadbutton + label {
    color: #ffffff;
    background-color: #55BFE0;
}

.uploadbutton:focus + label,
.uploadbutton.has-focus + label,
.uploadbutton + label:hover {
    background-color: #55BFE0;
}

.uploadbutton:disabled + label {
    background: #dddddd;
    color: gray;
}

.lbldoc {
    font-size: 16px;
    vertical-align: middle;
    width: 700px;
    text-align: left;
    color: black;
    padding-top: 7px;
    padding-bottom: 2px;
    padding-right: 5px;
    font-family: Helvetica;
    border-radius: 6px;
    border:2px solid #9a9a9a;
}

.docname {
    font-size: 12px;
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}


.checkdoc {
    position: sticky;
    margin-top: 15px;
    right: 73%;
    width: 15px;
    height: 15px;
}

.abutton {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

progress.dos {
    width: 20%;
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;

    position: relative;
    left: 1%;
    bottom: 30pt;
}

.documentosbar{
    width: 20%;
    background-color: #f3f3f3;
    border: 0px;
    height: 18px;
    border-radius: 9px;

    position: relative;
    left: 45%;
    bottom: 30pt;
}

.doc_div {
  background-color: #ffff;
  border: 1px solid #e7e7e7;
  overflow: auto;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}
